# Allow the Bazel server to check directory sources for changes. Ensures that the Bazel server
# notices when a directory changes, if you have a directory listed in the srcs of some target.
# Recommended when using
# [copy_directory](https://github.com/bazel-contrib/bazel-lib/blob/main/docs/copy_directory.md) and
# [rules_js](https://github.com/aspect-build/rules_js) since npm package are source directories
# inputs to copy_directory actions.
# Docs: https://bazel.build/reference/command-line-reference#flag--host_jvm_args
startup --host_jvm_args=-DBAZEL_TRACK_SOURCE_DIRECTORIES=1

# Sometimes cxxopt is applied to C-only targets. So we use per_file_copt
# to filter only C++ source files. Not ideal...

common --registry="https://bcr.bazel.build/"
common --registry="https://raw.githubusercontent.com/siradel-oss/bazel-registry/refs/heads/main/"
common --downloader_config=bazel_downloader_config.cfg

build --features=-default_cpp_std
build --host_features=-default_cpp_std

build:host_windows --host_cxxopt=/std:c++20
build:host_windows --host_copt=/utf-8
build:host_windows --host_copt=/bigobj
build:host_windows --host_copt=/wd4141 # Disables "'inline': used more than once"
build:host_windows --host_cxxopt=-D_CRT_USE_BUILTIN_OFFSETOF
build:host_windows --host_per_file_copt=external/.*$@/wd4047,/wd4715,/wd5287,/wd4005,/wd4834
build:host_windows --build_python_zip=false

build:windows_common --cxxopt=/std:c++20
build:windows_common --copt=/utf-8
build:windows_common --copt=/bigobj
build:windows_common --copt=/wd4141 # Disables "'inline': used more than once"
build:windows_common --cxxopt=/D_CRT_USE_BUILTIN_OFFSETOF
build:windows_common --per_file_copt=external/.*$@/wd4047,/wd4715,/wd5287,/wd4005,/wd4834
build:windows_common --config=host_windows

build:windows --config=windows_common

build:windows_gles --config=windows_common
build:windows_gles --//:gles=True

build:windows_clang --action_env="BAZEL_LLVM=C:\\Program Files\\LLVM\\"
build:windows_clang --action_env=USE_CLANG_CL=1
build:windows_clang --copt=-Wno-unknown-warning-option
build:windows_clang --copt=-Wno-builtin-macro-redefined
build:windows_clang --host_copt=-Wno-builtin-macro-redefined
build:windows_clang --cxxopt=/std:c++20
build:windows_clang --cxxopt=/D_CRT_USE_BUILTIN_OFFSETOF
build:windows_clang --config=host_windows

build:host_linux --host_cxxopt=-std=c++20

build:linux_common --cxxopt=-std=c++20
build:linux_common --copt=-fvisibility=hidden
build:linux_common --linkopt=-fvisibility=hidden
build:linux_common --copt=-fPIC
build:linux_common --linkopt=-fPIC
build:linux_common --config=host_linux

build:linux --config=linux_common

build:linux_gles --config=linux_common
build:linux_gles --//:gles=True

build:linux_headless --config=linux_common
build:linux_headless --//:headless=True

build:linux_clang --config=linux
build:linux_clang --repo_env=CC=clang

build:wasm_common --cxxopt=-std=c++20
build:wasm_common --features=-wasm_warnings_as_errors
build:wasm_common --per_file_copt=external/.*$@-Wno-everything
build:wasm_common --copt=-Wno-deprecated-pragma

build:wasm_windows --config=wasm_common
build:wasm_windows --config=host_windows

build:wasm_linux --config=wasm_common
build:wasm_linux --config=host_linux

build:sniper_common --action_env=HOME
build:sniper_common --config=linux_common
build:sniper_common --platforms=//:sniper_platform

build:sniper --config=sniper_common

build:sniper_headless --config=sniper_common
build:sniper_headless --//:headless=True

startup --windows_enable_symlinks
build --enable_runfiles
run --enable_runfiles
test --enable_runfiles

build --experimental_cc_implementation_deps

# @Todo(Bazel 9) Remove this
build --incompatible_enable_proto_toolchain_resolution

build --@aspect_rules_ts//ts:skipLibCheck=honor_tsconfig
fetch --@aspect_rules_ts//ts:skipLibCheck=honor_tsconfig
build --@aspect_rules_ts//ts:default_to_tsc_transpiler
fetch --@aspect_rules_ts//ts:default_to_tsc_transpiler

test --test_output=errors
