Checks:
  - "clang-analyzer-*"
  - "cppcoreguidelines-*"
  - "hicpp-*"
  - "hicpp-member-init"
  - "google-explicit-constructor"
  - "-*-uppercase-literal-suffix"
  - "-*-avoid-magic-numbers"
  - "-*-union-access"
  - "-*-braces-around-statements"
  - "-*-avoid-c-arrays"
  - "-*-cstyle-cast"
  - "-*-constant-array-index"
  - "-*-deprecated-headers"
  - "-*-pointer-arithmetic"
  - "-*-pointer-arithmetic"
  - "-*-avoid-do-while"
  - "-*-named-parameter"
  - "-*-array-to-pointer-decay"
  - "-*-no-array-decay"
  - "-*-owning-memory"
  - "-*-signed-bitwise"
  - "-*-noexcept-move"
  - "-*-macro-usage"

