:root {
    --neutral-hs: 0deg, 0%;
    --primary-color-hs: 231deg, 100%;
    --text-color-hs: 231deg, 15%;

    --warning-hs: 3deg, 70%;
    --important-hs: 30deg, 70%;
    --note-hs: 203deg, 70%;

    --blue-color: 220deg, 100%, 50%;
    --green-color: 101deg, 61%, 48%;
}

:root.light {
    --bg-color: var(--neutral-hs), 100%;
    --fg-color: var(--neutral-hs), 0%;
    --primary-color: var(--primary-color-hs), 62%;
    --text-color: var(--text-color-hs), 33%;
    --title-color: var(--text-color-hs), 23%;
    --warning-color: var(--warning-hs), 35%;
    --important-color: var(--important-hs), 35%;
    --note-color: var(--note-hs), 35%;
}

:root.dark {
    --bg-color: var(--neutral-hs), 10%;
    --fg-color: var(--neutral-hs), 100%;
    --primary-color: var(--primary-color-hs), 75%;
    --text-color: var(--text-color-hs), 80%;
    --title-color: var(--text-color-hs), 65%;
    --warning-color: var(--warning-hs), 70%;
    --important-color: var(--important-hs), 70%;
    --note-color: var(--note-hs), 70%;
}

@font-face {
    font-family: "Material Icons";
    font-style: normal;
    font-weight: 400;
    src: url(MaterialIcons-Regular.ttf) format("truetype");
}

@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    src: url(Roboto-Regular.ttf) format("truetype");
}

@font-face {
    font-family: "Roboto Mono";
    font-style: normal;
    font-weight: 400;
    src: url(RobotoMono-Regular.ttf) format("truetype");
}

@font-face {
    font-family: "Rubik";
    font-style: normal;
    font-weight: 400;
    src: url(Rubik-Regular.ttf) format("truetype");
}

:root.light .only-dark {
    display: none;
}
:root.light .only-light {
    display: inline-block;
}

:root.dark .only-dark {
    display: inline-block;
}
:root.dark .only-light {
    display: none;
}

.icon {
    font-family: "Material Icons";
    font-weight: normal;
    font-style: normal;
    font-size: 24px; /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;

    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;

    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;

    /* Support for IE. */
    font-feature-settings: "liga";
}

body {
    background: hsl(var(--bg-color));
    color: hsl(var(--text-color));
    font-size: 11pt;
    font-family: "Roboto", "sans-serif";
    line-height: 1.3em;
    margin: 0 auto;
    padding: 0;
    padding-bottom: 2em;
    width: 1400px;
}

img {
    background: white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: hsl(var(--title-color));
    font-weight: normal;
    font-family: "Rubik", Helvetica, "sans-serif";
}

code,
pre,
.protocol-type-link {
    font-family: "Roboto Mono", monospace;
    background: hsla(var(--fg-color), 4%);
    border-radius: 2px;
}

.codehilite code,
.codehilite pre {
    background: none;
}

a {
    color: hsl(var(--primary-color));
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:visited {
    color: hsl(var(--primary-color));
}

table {
    width: 100%;
    border-collapse: collapse;
}

td,
th {
    border-top: 1px solid hsla(var(--fg-color), 10%);
    border-bottom: 1px solid hsla(var(--fg-color), 10%);
    padding: 0.3em 0.7em;
}

table tr:nth-child(odd) {
    background-color: hsla(var(--fg-color), 1%);
}

table tr:nth-child(even) {
    background-color: hsla(var(--fg-color), 4%);
}

table tr td p {
    text-align: left;
}

hr {
    border: none;
    border-bottom: 1px solid hsla(var(--fg-color), 15%);
}

pre {
    padding: 4px;
    white-space: pre-wrap;
}

code {
    padding: 0px 4px;
}

pre > code {
    padding: 0;
}

p {
    text-align: justify;
}

details > summary {
    cursor: pointer;
}

#main {
    display: grid;
    grid-template-columns: 16em minmax(0, 1fr) 16em;
    grid-template-rows: auto;
    grid-template-areas: "menu contents toc";
    column-gap: 2em;
}

#contents {
    grid-area: contents;
}

#toc {
    grid-area: toc;
}

#menu {
    grid-area: menu;
    word-wrap: normal;
    overflow: hidden;
    border-radius: 1em;
    background-color: hsla(var(--fg-color), 2%);
    padding: 1em;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: stretch;
    gap: 0.5em;
}

.menu-section-header {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.25em;
    margin: 0;
    padding: 0.25em;
}

.menu-section-header:hover {
    background-color: hsla(var(--fg-color), 3%);
    border-radius: 500px;
}

.menu-section[hrz-accordion-state="open"] .menu-section-header .icon::before {
    content: "\e5ce";
}

.menu-section[hrz-accordion-state="closed"] .menu-section-header .icon::before {
    content: "\e5cf";
}

.menu-section[hrz-accordion-state="open"] .menu-section-content {
    display: block;
}

.menu-section[hrz-accordion-state="closed"] .menu-section-content {
    display: none;
}

.menu-section .menu-section-content {
    margin-top: 0.5em;
    margin-left: 0.6em;
}

.menu-section-content h4 {
    margin: 0;
}

#toc {
    border-left: 1px solid hsla(var(--fg-color), 10%);
    padding: 1em;
}

#toc-content {
    position: fixed;
    top: 100px; /* Height of the header */
    bottom: 0;
    overflow-y: auto;
    width: 100%;
}

#menu ul,
#toc ul {
    list-style: none;
}

.toc ul {
    padding-left: 2em;
}

#menu ul,
.toc > ul {
    padding-left: 0;
}

#header {
    height: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1.5em;
}

#version-number {
    font-family: "Rubik", Helvetica, "sans-serif";
}

.menu-item {
}

button#dark-light-switch {
    font-size: 1.5rem;
    padding: 0.4rem;
    border: 1px solid hsla(var(--fg-color), 10%);
    background: hsla(var(--fg-color), 5%);
    color: hsla(var(--fg-color), 32%);
    display: block;
    border-radius: 9999px;
    cursor: pointer;
}

button#dark-light-switch:hover {
    opacity: 80%;
}

:root.light #dark-light-switch.icon::before {
    content: "\e51c";
}

:root.dark #dark-light-switch.icon::before {
    content: "\e518";
}

#search {
    position: relative;
}

#search-input {
    padding: 0.5em;
    height: 1em;
    font-size: 13pt;
    border: 1px solid hsla(var(--fg-color), 10%);
    background: hsla(var(--fg-color), 5%);
    width: 300px;
    border-radius: 500px;
    color: hsla(var(--text-color), 100%);
}

#search-result {
    width: 300px;
    position: absolute;
    top: 52px;
    border: 1px solid hsla(var(--fg-color), 10%);
    background: hsla(var(--bg-color), 100%);
    border-radius: 2px;
    max-height: 500px;
    overflow: hidden auto;
    z-index: 999999;
    box-shadow: 0px 1px 4px hsla(var(--fg-color), 10%);
    display: none;
}

#search-result ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#search-result ul li a {
    display: inline-block;
    color: hsl(var(--text-color));
    padding: 0.5em;
    width: 100%;
}

#search-result ul li:nth-child(odd) a {
    background: hsla(var(--fg-color), 5%);
}

#search-result ul li a:hover {
    text-decoration: none;
}

.blank-note {
    padding: 10em 0 10em 0;
    text-align: center;
    font-style: italic;
}

.codehilite pre {
    overflow-x: auto;
}

.example-canvas {
    width: 100%;
    height: 500px;
    touch-action: none;
}

.example-canvas:focus {
    outline: none;
}

.example-canvas:active {
    border: none;
}

.attributions {
    background: rgba(0, 0, 0, 25%);
    backdrop-filter: blur(8px);
    color: white;
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 0;
    padding: 0.5em;
    font-size: 0.75em;
}

.attributions a {
    color: white;
    text-decoration: underline;
}

.attributions img {
    background: white;
    max-height: 1.5em;
    vertical-align: middle;
}

.admonition {
    border: 1px solid hsla(var(--bg-color), 10%);
    background-color: hsla(var(--bg-color), 4%);
    border-radius: 4px;
    padding: 0 1em;
    margin: 1em 0;
}

.admonition-title {
    font-weight: bold;
    font-family: "Rubik", Helvetica, "sans-serif";
}

.admonition.warning {
    color: hsla(var(--warning-color), 90%);
    background-color: hsla(var(--warning-color), 12%);
    border-color: hsla(var(--warning-color), 40%);
}

.admonition.important {
    color: hsla(var(--important-color), 90%);
    background-color: hsla(var(--important-color), 12%);
    border-color: hsla(var(--important-color), 40%);
}

.admonition.note {
    color: hsla(var(--note-color), 90%);
    background-color: hsla(var(--note-color), 12%);
    border-color: hsla(var(--note-color), 40%);
}

.block {
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.block.blue {
    background-color: hsla(var(--blue-color), 10%);
}

.block.green {
    background-color: hsla(var(--green-color), 10%);
}

.tabbed-figure-header {
    list-style: none;
    margin-bottom: 0;
    padding: 0;
    width: fit-content;
}

.tabbed-figure-header li {
    display: inline-block;
    border-style: solid;
    border-color: hsla(var(--note-color), 40%);
    border-width: 1px 1px 0 1px;
    border-radius: 4px 4px 0 0;
    padding: 0.2em;
    cursor: pointer;
}

.tabbed-figure-header li.active {
    border-top-color: hsla(var(--note-color), 60%);
    border-top-width: 4px;
}

.tabbed-figure-contents {
    border: 1px solid hsla(var(--note-color), 40%);
    border-radius: 0 4px 4px 4px;
}
